<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Omega Trans</title>

    <link rel="shortcut icon" href="assets\images\omega.ico"/>

    <link rel="stylesheet/less" type="text/css" media="screen" href="styles/main.less">

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="three.js-master/build/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.6.0/Tween.min.js"></script>
</head>

<body>
    <header>
        <div class="row">
            <button class="col-md-4 btn" id="about_btn">About</button>
            <a href="/starmap" class="col-md-4 btn btn-dark" id="starmap_btn">Starmap</a>
            <button class="col-md-4 btn" id="login_btn">Login</button>
        </div>
    </header>