<% include common_views/header.ejs %>

    <div class="container-fluid" id="login_page_contents">
        <img src="assets/images/much_space.jpg">
        <div id="login_window">
            <div id="inputs_container" class="row">
                <div class="form-group">
                    <label for="email_input">Email</label>
                    <input type="email" class="form-control" id="email_input" aria-describedby="emailHelp" placeholder="Your email">
                </div>
                <div class="form-group">
                    <label for="password_input">Password</label>
                    <input type="password" class="form-control" id="password_input" placeholder="Your password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="remember_me">
                    <label class="form-check-label" for="remember_me">Remeber me</label>
                </div>
                <div class="row" id="button_container">
                    <button class="btn btn-primary btn-lg btn-block col-md-12" id="sign_in_btn">Sign in</button>
                    <button class="btn btn-primary btn-lg btn-block col-md-12" id="sign_up_btn">Sign up</button>
                </div>
                <span id="wrong_input" class="col-md-12 error_msg" style="display: none;">Cannot find user with such email and password</span>
            </div>
        </div>
        <div id="register_window" style="display: none">
            <div id="inputs_container" class="row">
                <div class="form-group">
                    <label for="email_input">Email</label>
                    <input type="email" class="form-control" id="email_input" placeholder="Your email">
                </div>
                <div class="form-group">
                    <label for="name_input">First name</label>
                    <input type="text" class="form-control" id="name_input" placeholder="Your first name">
                </div>
                <div class="form-group">
                    <label for="surname_input">Last name</label>
                    <input type="text" class="form-control" id="surname_input" placeholder="Your last name">
                </div>
                <div class="form-group">
                    <label for="register_password_1">Password</label>
                    <input type="password" class="form-control" id="register_password_1" placeholder="Your password">
                </div>
                <div class="form-group">
                    <label for="ragister_password_2">Repeat password</label>
                    <input type="password" class="form-control" id="ragister_password_2" placeholder="Repeat your password">
                </div>
                <button class="btn btn-primary btn-lg btn-block" id="sign_up_btn">Sign up</button>
                <button class="btn btn-primary btn-lg btn-block" id="back_btn">Back</button>
            </div>
        </div>
    </div>
    
    <% include common_views/footer.ejs %>

    <script type="text/javascript"  src="assets/scripts/login_page_bundle.js"> </script>
</body>

</html>