<div id="about_background"></div>
<div id="about_window">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Fusce quis malesuada eros. Integer viverra at erat eu blandit.
    Mauris consequat volutpat facilisis. Mauris at cursus ligula.
    Mauris tempus ex mauris, non pretium arcu auctor ullamcorper.
    Donec tristique nec lectus consequat auctor. Morbi aliquet posuere tellus sed viverra. 
    Vivamus dapibus mi id tortor tristique bibendum. Phasellus est lacus, rhoncus a sem a,
    gravida venenatis augue. Nulla sodales turpis quis arcu hendrerit fermentum. 
    Nullam sit amet libero eget dui lobortis viverra id non risus. 
    Sed malesuada purus sed ex interdum aliquam. Praesent faucibus ultrices lacinia.
     Proin laoreet mi non convallis fermentum. Nunc porta pretium scelerisque.
    </p>
    <img src="assets/images/logo.png">
    <button class="btn btn-primary btn-lg btn-block">Back</button>
</div>