<div id="flight_booking" class="col-md-12">
    <div id="templates">
        <span class="col-md-1" id="seat_template" style="display: none;">
            <button class="btn btn-block seat seat_one"></button>
            <button class="btn btn-block seat seat_two"></button>
        </span>
    </div>
    <div class="row">
        <div class="col-md-12" id="status">
            <div class="row">
                <div class="col-md-6" id="progress">
                    <ul>
                        <li id="seat_picking">Pick a place</li>
                        <li class="arrow">&#x291E;</li>
                        <li id="passanger_data">Passanger data</li>
                        <li class="arrow">&#x291E;</li>
                        <li id="pay">Pay for the ticket</li>
                    </ul>
                </div>
                <div class="col-md-6" id="current_passenger_info">
                    <span id="seat_type"></span>
                    <span id="seat_number"></span>
                    <span id="first_second_name"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="booking_steps">
            <div class="container-fluid" id="seats">
                <div class="row">
                    <span class="col-md-12" id="first_row">
                        <span class="row">
                            <span class="col-md-2 restroom">
                                <p>WC</p>
                            </span>
                        </span>
                    </span>
                    <span class="col-md-12" id="second_row">
                        <span class="row">
                            <span class="col-md-2 restroom">
                                <p>WC</p>
                            </span>
                        </span>
                    </span>
                    <span class="col-md-12"><button class="btn btn-primary btn-block" id="next_btn" style="display: none;">Next&#x291E;</button></span>
                </div>
            </div>
            <div class="container-fluid" id="personal_info" style="display:none;">
                <div class="row">
                    <div class="input-group mb-3 col-md-12" id="first_last_name_group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="first_and_last_name_label">First and last name</span>
                        </div>
                        <input type="text" class="form-control" id="first_name">
                        <input type="text" class="form-control" id="last_name">
                    </div>
                    <div class="input-group mb-3 col-md-12" id="email_group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email_label">Email</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="email">
                    </div>
                    <span class="col-md-12" id="error_msg" style="display: none;">
                        Fill all fields to proceed
                    </span>
                    <div class="col-md-12">
                        <div class="row">
                            <span class="col-md-6"><button class="btn btn-primary btn-block" id="back_btn">&#x291D;Back</button></span>
                            <span class="col-md-6"><button class="btn btn-primary btn-block" id="next_btn">Next&#x291E;</button></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="payment" style="display: none;">
                <div class="row">
                    <span class="col-md-12" id="ticket_summary"></span>
                    <span class="col-md-12" id="pay_btn_container"><a class="btn btn-primary btn-block" id="pay_btn" href="/">Pay</a></span>
                </div>
            </div>
        </div>
    </div>
</div>