<div id="login_background"></div>
<div id="login_window">
    <form>
        <div class="form-group">
            <label for="email_input">Email</label>
            <input type="email" class="form-control" id="email_input" aria-describedby="emailHelp" placeholder="Your email">
        </div>
        <div class="form-group">
            <label for="password_input">Password</label>
            <input type="password" class="form-control" id="password_input" placeholder="Your password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember_me">
            <label class="form-check-label" for="remember_me">Remeber me</label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </from>
</div>