header {
    text-align: center;
    color: white;

    background-color: @mainColor;

    .btn {
        color: white;

        border-radius: 0;
    }

    #starmap_btn {
        background-image: url("../assets/images/space.jpg");
    }
}